.DS_Store
results/.DS_Store
results/main-results
results/main-results-2
results/main2-results
results/main3-results
results/main4-results
results/main4-results-2
results/main5-results
__pycache__/beamClass.cpython-38.pyc
__pycache__/functions.cpython-38.pyc
__pycache__/support.cpython-38.pyc
obsolete/main2.py
obsolete/main3.py
obsolete/main5.1.py